.card-body.data-table {
    min-height: 76vh;
}

.perPage {
    border: 0;
    padding: 0;
    color: rgb(255 255 255);
    cursor: pointer;
    text-transform: uppercase;
}

select.btn.perPage{
    padding: 0 !important;
}

.page_top_text {
    font-size: 13px;
    text-transform: uppercase;
    border: 0;
    padding-left: 10px;
}

.bg-default .page_top_text{
    color: rgba(255, 255, 255, 0.8);
}
.bg-theme .page_top_text{
    color: rgba(255, 255, 255, 0.8);
}

.setting_button {
    padding: 5px 10px;
}

.btn.action {
    padding: 0 0 0 5px;
    margin-right: 2px;
}

.page-content {
    min-height: 89vh !important;
}

.pointer {
    cursor: pointer;
}

input.form-control {
    padding: 5px 15px;
}
.btn {
    padding: 5px 14px;
}
.modal-header{
    text-transform: uppercase;
    padding: 7px 15px;
    /*background: #303030;*/
}
.modal-footer{
    padding: 5px;
    /*background: #303030;*/
}

#theme16 {
    background-image: url(../images/bg-themes/16.jpg);
    background-size: 100% 100%;
    background-position: center;
    transition: background .3s;
}
.bg-default .switcher-btn {
    background: #d1d2d4;
    color: #000;
}
.bg-default table thead th{
    background: #ddd;
    text-transform: uppercase;
}

.bg-default input::placeholder {
    color: gray;   /* your desired color */
    opacity: 1;    /* make sure it's fully visible */
}

.bg-default textarea::placeholder {
    color: #999;
}

div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right
}

h2#swal2-title {
    color: #5c4d4d;
}
.swal2-icon {
    width: 4em !important;
    height: 4em !important;
}

.swal2-title {
    font-size: 1.40em !important;
}

.swal2-container .swal2-styled {
    padding: .425em 1em !important;
}
.modal-content {
    position: relative;
}
.bg-default .modal_loader{
    background: rgba(0, 0, 0, 0.3);
}
.bg-theme .modal_loader{
    background: rgba(255, 255, 255, 0.2);
}
.modal_loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;               /* center contents */
    align-items: center;
    justify-content: center;
    z-index: 10;                 /* make sure it's above modal content */
}
.modal_loader i {
    font-size: 2rem;             /* adjust size if needed */
}

.page-content {
    position: relative;
}
.bg-default .page_loader{
    background: rgba(0, 0, 0, 0.4);
}
.bg-theme .page_loader{
    background: rgba(255, 255, 255, 0.2);
}
.page_loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;               /* center contents */
    align-items: center;
    justify-content: center;
    z-index: 10;                 /* make sure it's above modal content */
}
.page_loader i {
    font-size: 2rem;             /* adjust size if needed */
}

th:first-child,
td:first-child{
    width: 50px;
}

th.checkbox,
td.checkbox {
    width: 25px;
}

th:last-child,
td:last-child {
    width: 180px;
}
